# server
node_modules
dist
package-lock.json


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
client/.editorconfig
# IDE - VSCode
client/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache

/.vscode
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db